@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden !important;
  min-height: 80vh;
}

.nav-link {
  color: #808080 !important;
}

.navbar-brand {
  color: black !important;
}

h1 {
  font-size: 20px !important;
  color: #002244 !important;
}

.flex-container {
  display: flex !important;
}

.btn {
  background-color: #0554fe !important;
  color: white !important;
  box-shadow: none !important !
}

.btn:hover {
  background-color: #013BB9 !important;
  cursor: pointer;
}

select {
  box-shadow: none !important;
  border-color: #013BB9 !important;
}

.fa-plus {
  color: #013BB9;
  margin: 5px;
}

.fa-plus:hover {
  cursor: pointer;
}

.fa-minus {
  color: #013BB9 !important;
  margin: 5px;
}

.fa-minus:hover {
  cursor: pointer;
}

.fa-trash {
  color: red;
}

input {
  margin-top: 10px !important;
  box-shadow: none !important;
}

.adminfunctions {
  padding: 10px;
  /*background-color:rgb(1, 1, 77);*/
  background-color: #0554fe !important;

}

.adminfunctions li {
  list-style-type: none !important;
  display: inline !important;
  color: white !important;
}

.adminfunctions li a {
  color: white !important;
  padding: 20px;
}

td,
th,
tr {
  text-align: left;
}
td {
  font-size: 14px;
}

.login {
  height: 90vh;
}

.register {
  height: 90vh;
}

th {
  background-color: #808080;
  color: white;
}

h2 {
  color: #808080 !important;
}

h5 {
  color: #808080 !important;
}

.itemNames {
  margin-left: -1.65rem;
  width: 145%;
}

.itemNames li {
  font-size: 0.8rem;
}

.itemNames li:nth-child(n+2) {
  margin-top: 1rem;
}

.itemNames hr {
  border-top: 2px solid #bbb;
  margin-left: -1.65rem;
}

.itemQuantities {
  margin-left: -1.65rem;
  width: 145%;
}

.itemQuantities p {
  font-size: 0.8rem;
  text-align: center;
}

.itemQuantities p:nth-child(n+2) {
  margin-top: 3.35rem;
}

.itemQuantities hr {
  border-top: 2px solid #bbb;
  margin-left: -0.8rem;
  margin-top: 3.4rem;
  width: 135%;
}

.item-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 10px;
}
.item-row-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none ;

}
.p-style {
  padding: 0px;
  padding-bottom: 5px;
  font-size: 14px;
}
.li-style {
 margin-left: 5px;
 font-size: 14px;
}
.checkout-button-container {
  display: flex;
  justify-content: flex-end;
}
span { 
  font-size: 14px;
}